<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <th:block th:if="${userName} != null">
          Logged in as : <span id="user" th:text="${userName}"></span>
          <a href="/logout" class="btn btn-info active" role="button">Logout</a>
      </th:block>
      <th:block th:unless="${userName} != null">
          <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
          <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
      </th:block>
    </div>
  </div>
</div>
</body>
</html>